
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    background-color: rgb(35, 39, 47);
    padding: 20px ;

}

h1 {
    font-size: 28px;
    color: #fff;
}

h2 {
    text-align: center;
    color: #2c3e50;
}

a {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    padding: 20px ;
    height: 100%;
    color: #fff;
    background-color: rgb(35, 39, 47);
}

/* Formularios para problemas */
form {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

/*Menu de probelmas 8*/
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%; /* ajusta según el contenido */
    margin: 0 auto;   /* centra horizontalmente */
    padding: 90px 0;  /* solo vertical */
    background-color: rgb(27, 30, 37);

}


.menu-grid a {
    display: block;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.menu-grid a:hover {
    background-color: #2980b9;
}

/* estilos dleProblema 2 */
.problemas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 248, 240);
}